@using Microsoft.AspNet.Identity
@using Travel.Models

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SAFRCOM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="#" class="icon-airplane">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <!-- Superfish -->
    <link rel="stylesheet" href="~/Content/css/superfish.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.min.css">
    <!-- CS Select -->
    <link rel="stylesheet" href="~/Content/css/cs-select.css">
    <link rel="stylesheet" href="~/Content/css/cs-skin-border.css">

    <link rel="stylesheet" href="~/Content/css/style.css">


    <!-- Modernizr JS -->
    <script src="~/Content/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">

            <header id="fh5co-header-section" class="sticky-banner">
                <div class="container">
                    <div class="nav-header">
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                        <h1 id="fh5co-logo"><a href="~/Home/Index"><i class="icon-airplane"></i>Safrcom</a></h1>
                        <!-- START #fh5co-menu-wrap -->
                        <nav id="fh5co-menu-wrap" role="navigation">
                            <ul class="sf-menu" id="fh5co-primary-menu">
                                <li class="active"><a href="~/Home/Index">Home</a></li>
                                <li class=""><a href="~/Countries/AllCountries">Countries</a></li>
                                <li class=""><a href="~/offers/Alloffers">Offers</a></li>
                                <li class=""><a href="~/Home/Companies">Companies</a></li>
                                <li class=""><a href="~/Post/List">Comments</a></li>

                                <li><a href="~/Regions/GetTripByUser">All Trips</a></li>
                                @*<li><a href="contact.html">Contact Us</a></li>*@

                                @*@if (User.Identity.Name.Equals("admins") || User.Identity.Name.Equals("com1"))
        {
            <li class=""><a href="~/Countries/Index">Control Panel</a></li>

        }*@

                                @*@if ((string)Session["usr"] == "Employee company")
        {
            <li class=""><a href="~/Countries/Index">Control Panel</a></li>
        }
        else
        {
            <li style="display:none;" class=""><a href="~/Countries/Index">Control Panel</a></li>

        }*@


                                <li>
                                    <a href="#" class="fh5co-sub-ddown">Authintecation</a>
                                    <ul class="fh5co-sub-menu">
                                        @if (Request.IsAuthenticated)
                                        {
                                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                            {
                                                var db = new ApplicationDbContext();
                                                var UserId = User.Identity.GetUserId();
                                                var CurrentUser = db.Users.Where(a => a.Id == UserId).SingleOrDefault();


                                                @Html.AntiForgeryToken()


                                                @Session["ss"]
                                                <li>
                                                    @Html.ActionLink("Hello " + CurrentUser.UserName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                                </li>

                                                if (CurrentUser.UserType == "Employee company")
                                                {
                                                    <li class=""><a href="~/Countries/Index">Control Panel</a></li>
                                                }
                                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

                                            }
                                        }
                                        else
                                        {

                                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

                                        }

                                    </ul>
                                </li>



                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <!-- end:header-top -->



            <div class="container-fluid">
                @RenderBody()
            </div>

            <footer>
                <div id="footer">
                    <div class="container">
                        <div class="row row-bottom-padded-md">
 
                            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                                <h3>Links</h3>
                                <ul>
                                    <li><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/Countries/List">Countries</a></li>
                                    <li><a href="~/offers/List">Offers</a></li>
                                    <li><a href="~/Regions/GetTripByUser">All Trip</a></li>
                                    <li><a href="~/Home/Contact">Contact Us</a></li>
                                </ul>
                            </div>
            
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <p class="fh5co-social-icons">
                                    <a href="#"><i class="icon-twitter2"></i></a>
                                    <a href="#"><i class="icon-facebook2"></i></a>
                                    <a href="#"><i class="icon-instagram"></i></a>
                                    <a href="#"><i class="icon-dribbble2"></i></a>
                                    <a href="#"><i class="icon-youtube"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>



        </div>
        <!-- END fh5co-page -->

    </div>
    <!-- END fh5co-wrapper -->
    <!-- jQuery -->


    <script src="~/Content/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/sticky.js"></script>

    <!-- Stellar -->
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <!-- Superfish -->
    <script src="~/Content/js/hoverIntent.js"></script>
    <script src="~/Content/js/superfish.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="~/Content/js/bootstrap-datepicker.min.js"></script>
    <!-- CS Select -->
    <script src="~/Content/js/classie.js"></script>
    <script src="~/Content/js/selectFx.js"></script>

    <!-- Main JS -->
    <script src="~/Content/js/main.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>

