@model IEnumerable<Travel.Models.offers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Offers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="example" class="ui celled table table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Countries.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TouristProgram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeanOfTransportation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThingsToDo)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Countries.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="~/images/@Html.DisplayFor(modelItem => item.Image)" alt="Alternate Text" style="width:100px;height:100px;" />
                </td>
                <td>
                    <a href="@item.TouristProgram" download>
                        <img src="~/images/programs.png" alt="Alternate Text" style="width:150px;height:100px;" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeanOfTransportation)
                </td>
                <td>
                    @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.ThingsToDo).ToString()))
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OfferId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OfferId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OfferId })
                </td>
            </tr>
        }
    </tbody>
</table>
